.footer {
  max-width: 100%;
  margin-top: 100px;
  background: linear-gradient(270.7deg, #44403f 0.4%, #211f20 100%);
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #cfcfcf;
    padding: 20px 0px 20px 0px;
  }

}

.footer_container {
  display: flex;
  align-items: center;
  background: linear-gradient(270.7deg, #44403f 0.4%, #211f20 100%);
  justify-content: space-around; //
  padding: 10px 40px 20px 40px;
  gap: 20px;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

.footer_chevron {
  margin-right: 40px;
  margin-left: 40px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .footer_container {
    flex-direction: column;
  }

  .footer_chevron {
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer_container {
    gap: 50px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 991px) {
  .footer_container {
    gap: 50px;
    padding-top: 10px;
  }
}
