.mainSection {
  display: flex;
  gap: 10em;
  padding: 2em 5em;
  margin: 0 auto;
}
.emptyContainer {
  padding: 2em 5em;
  div {
    font-size: 20px;
    padding: 6em;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    border: 5px solid #618967;
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
    box-shadow: 0px 30px 45px rgb(43 40 40 / 60%);
    p {
      color: #9e9e9e;
    }
  }
}

@media screen and (max-width: 1549px) {
  .mainSection {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 2em 5em;
    max-width: 100%;
  }
  .emptyContainer {
    padding: 2em 5em;
  }
}

@media screen and (max-width: 583px) {
  .mainSection {
    padding: 2em 1em;
    max-width: 80%;
  }
  .emptyContainer {
    padding: 2em 2em;
  }
}

@media screen and (max-width: 380px) {
  .mainSection {
    padding: 2em 5px;
    max-width: 300px;
  }
}

@media screen and (max-width: 340px) {
  .mainSection { 
    padding: 2em 5px;
    max-width: 300px;
  }
}