.categories_block{
    display: flex;
    justify-content: space-between;
    background-color: #403C3B;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.categories_item_link{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
     
}
.categories_item_link_active{
    padding-bottom: 23px;
    border-bottom: 5px solid #618967;
}
.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
  }
  