.categories_block{
    background-color: #403C3B;
    
}
.categories_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 78px;
    align-items: center;
    
}
.categories_item_link{
    text-decoration: none;
    color: #CFCFCF;
    font-size: 18px;
    font-weight: 500;
    @media (max-width: 1200px) {
        font-size: 14px;
     }
     @media (max-width: 950px) {
        font-size: 12px;
     }
     @media (max-width: 820px) {
        display: none;
     }
}
.categories_item_link_active{
    padding-bottom: 23px;
    border-bottom: 5px solid #618967;
}