.privacy_policy{
    padding: 20px 50px 0px 50px;

    .privacy_back{
        display: flex;
        align-items: center;
        .privacy_policy_chevron_left{
            color: #FFFFFF;
            cursor: pointer;
        }
    }

    h2{
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0px 30px 0px;
        color: #cacaca;
    }

    h3{
        padding: 30px 0px 10px 0px;
        text-indent: 5%;
        color: #cacaca;
    }

    p{
        text-align: justify;
        text-indent: 5%;
        color: #9b9999;
    }

    .privacy_padding{
        padding-top: 50px;
    }
}