.container {
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 15px 15px 130px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .cartTitle {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }
  .cartTitle::before {
    content: "";
    width: 5px;
    height: 30px;
    background: #618967;
    display: inline-block;
    margin-right: 20px;
  }
}
.itemCard {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #4e4948;

  img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  .orderDetails {
    display: flex;
    align-items: center;

    .info {
      width: 600px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  .name {
    font-size: 25px;
    color: rgb(241, 241, 241);
    margin-bottom: 10px;
  }
  .description {
    font-size: 17px;
    color: rgb(184, 184, 184);
    margin-bottom: 10px;
  }

  .addToCart {
    margin: 30px 0;
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-right: 20px;
    width: 400px;

    .delete {
      width: 30px;
      height: 30px;
      background: #79b382;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      * {
        fill: #ffffff;
        width: 20px;
        height: 20px;
      }
    }
  }
  .currentPrice {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    width: 150px;
  }

  .plusMinus {
    display: inline-flex;
    gap: 25px;
    color: #fff;
    font-size: 25px;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border: 1px solid #313030;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(151, 145, 145, 0.4);
    width: 150px;
    margin-right: 20px;
    cursor: pointer;
  }
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #4e4948;
  width: 50%;
  margin: 100px auto 90px auto;
  height: 100px;

  .priceTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #a6a7ab;
    margin-left: 40px;

    * {
      font-size: 20px;
      color: #fff;
      font-weight: bold;
      padding-left: 5px;
    }
  }

  .order {
    padding: 17px 50px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-right: 30px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1210px) {
  .itemCard {
    flex-direction: column;
    img {
      height: 300px;
      border-radius: 10px 10px 0 0;
      margin-top: 10px;
    }
  }
  .description {
    display: none;
  }
  .itemCard img {
    width: 100%;
    margin-left: 0px;
  }
  .info {
    width: unset;
  }
  .orderDetails {
    flex-direction: column;
  }
  .name {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 930px) {
  .totalPrice {
    flex-direction: column;
    .priceTitle {
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .order {
      margin-right: 0;
      margin-bottom: 10px;
      padding: 10px 20px;
    }
  }
}

@media screen and (max-width: 479px) {
  .itemCard {
    flex-direction: column;
    .weight {
      font-size: 14px;
    }
    .currentPrice {
      font-size: 20px;
      text-align: center;
    }
    .addToCart {
      margin: 30px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 15px;
    }
    .plusMinus {
      margin-right: 0px;
    }
    .orderDetails {
      .info {
        margin-right: 0px;
      }
    }
  }
  .totalPrice {
    width: 60%;
    .order {
      padding: 15px 25px;
      font-size: 15px;
    }
  }
}
