.title {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.cartPage {
  padding: 15px 15px 40px 15px;

  .cartPage_back {
    display: flex;
    align-items: center;
  }
}
