.slick-slider {
  position: relative;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
  background: rgba(255, 255, 255, 0.5);
  width: 45px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-prev {
  left: 0;
  top: 50%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.slick-next {
  right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.slick-slide img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

.imageWrapper {
  position: relative;
  .textOffer {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    align-items: center;
    color: white;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 5px 40px;
    color: #f4f4f4;
    text-shadow: -8px 6px 0 rgba(255, 0, 180, 0.5);
    background: rgba(0, 0, 0, 0.7);
    .mainTextOffer {
      font-size: 50px;
      font-family: "Caveat Brush", cursive;
      letter-spacing: 2px;
    }
    .textsubOffer {
      font-size: 25px;
      text-shadow: none;
      margin-top: 10px;
      font-family: "Caveat Brush", cursive;
      letter-spacing: 1px;
    }
  }
}

.slick-dots {
  bottom: 0;
}
.slick-thumb li {
  width: 100px;
  height: 70px;
  filter: grayscale(100%);
}
.customPaging {
  width: 100px;
  height: 60px;
  object-fit: cover !important;
  border-radius: 5px;
}

.slick-thumb li.slick-active {
  filter: grayscale(0%);
}
.arrowStyle {
  color: black;
  font-size: 25px !important;
}

@media screen and (max-width: 991px) {
  .imageWrapper .textOffer {
    padding: 0 60px;
    .mainTextOffer {
      font-size: 40px;
    }
    .textsubOffer {
      font-size: 20px;
    }
  }
  .slick-slide img {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
  }
}
@media screen and (max-width: 767px) {
  .slick-slide img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }
  .slick-thumb li {
    display: none;
  }
  .imageWrapper .textOffer {
    padding: 0 70px;
  }
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    background: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}
@media screen and (max-width: 479px) {
  .imageWrapper .textOffer {
    padding: 0 20px;
    .mainTextOffer {
      font-size: 25px;
    }
    .textsubOffer {
      font-size: 15px;
    }
  }
  .customPaging {
    display: none;
  }

  .slick-thumb li {
    width: 50px;
    height: 50px;
  }
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    display: none;
  }
}
