
.footer_social{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    p {
        color: #CFCFCF;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

}

.footer_brand_icon{
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}



.footer_brand_icon:nth-child(5):hover{
    color: #00acee;
}

.footer_brand_icon:nth-child(6):hover{
    color: #c4302b;
}

.footer_brand_icon:nth-child(7):hover{
    background: linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%)
}

.footer_brand_icon:nth-child(8):hover{
    color: #3b5998;
}

.footer_pay_icon{
    margin: 0px 5px 0px 5px;
}

.footer_pay_icon:hover{
    color: #eeebeb;
}


@media screen and (max-width: 479px) {  
    .footer_social{
        padding-top: 10px;
        text-align: center;
      
    }
  }