.findPrice {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-bottom: 2em;
  & > label {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    & > div {
      display: flex;
      align-self: center;
    }
    & > div input {
      background: #21242148;
      color: white;
      font-weight: bold;
      max-width: 100px;
      font-size: 20px;
      border-radius: 8px;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 1549px) {
  .findPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    label input {
      margin-left: 2em;
    }
  }
}

@media screen and (max-width: 668px) {
  .findPrice {
    flex-direction: column;
  }
}
