.findPrice {
  text-align: center;
  & > input {
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 700;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
