
.backgroundBtn {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    display: flex;
    width: 150px;
    align-items: center;

    p {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        padding: 14px 14px 14px 19px;
    }

    svg {
        margin-right: 15px;
    }
}


