.payment_and_delivery{
    padding: 20px 50px 50px 50px;

    .payment_and_delivery_back{
        display: flex;
        align-items: center;
        .payment_and_delivery_chevron_left{
            color: #FFFFFF;
            cursor: pointer;
        }
    }

    h2{
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0px 30px 0px;
    }

    h3{
        padding: 80px 0px 50px 0px;
        text-indent: 5%;
        text-align: center;
        font-size: 30px;
    }
    
    p{
        text-align: justify;
        text-indent: 5%;
    }

    

    .card_block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px

    }

    .delivery_zones{
        text-align: center;
        padding: 20px 0px 20px 0px;
        
    }
  

}

@media screen and (max-width: 479px) {  
    .payment_and_delivery{
        .card_block{
            flex-direction: column;
        }
    }
  }

@media screen and (max-width: 767px) {
    .payment_and_delivery{
        .card_block{
            align-items: center;
            flex-direction: column;
        }
    }
  
  }


