.backgroundBtn {
  cursor: pointer;
  background: linear-gradient(114.93deg, #981910 5.11%, #a61b11 94%);
  border-radius: 5px;
  display: flex;
  max-width: 150px;
  align-items: center;
  border: none;
  outline: #981910;

  p {
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    padding: 14px 5px 14px 14px;
  }

  svg {
    margin-right: 15px;
  }
}
