.preloader {
  display: inline-flex;
}

.itemsContainer {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}
.nothingFound {
  color: #fff;
  font-size: 30px;
}
.allProducts,
.resetButton {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  padding-left: 10px;
  align-items: center;
  cursor: pointer;
}
.resetButton {
  display: flex;
  gap: 5px;
}
.allProducts {
  display: flex;
  align-items: center;
  gap: 5px;
}
.itemsWrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .items_header {
    font-weight: bold;
    font-size: 25px;
    line-height: 39px;
    color: #ffffff;
    text-transform: uppercase;
    border-left: 5px solid #618967;
    padding-left: 10px;
  }
}

@media screen and (max-width: 920px) {
  .itemsContainer {
    display: inline-flex;
    justify-content: center;
  }
}
